@model Archery.Models.Info

@{ 
    ViewBag.Title = "A propos de";
}

<div>
    <h3>A propos de </h3>

    <p>Dev: @Model.DevName</p>
    <p>&copy;@Model.CreatedDate</p>
    <p>Contact:@Model.ContactMail</p>
    

